<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<base href="/picketlink-oauth-provider-wwwserver/files/" />
    <title>ТОРИС ПААА: Сервер Авторизации OAuth</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	}
	.navbar-inverse {
		background-color: #322;
	}
	</style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">OAuth in Action: <span class="label label-danger">OAuth Authorization Server</label></a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
		  <h2>Client information:</h2>
		  <% _.each(clients, function(client) { %>
		  <ul>
			  <li><b>client_id:</b> <code><%- client.client_id %></code></li>
			  <li><b>client_secret:</b> <code><%- client.client_secret %></code></li>
			  <li><b>scope:</b> <code><%- client.scope %></code></li>
			  <li><b>redirect_uri:</b> <code><%- client.redirect_uri %></code></li>
		   </ul>
		   <% }); %>
		   <h2>Server information:</h2>
		  <ul>
			  <li><b>authorization_endpoint:</b> <code><%- authServer.authorizationEndpoint %></code></li>
			  <li><b>token_endpoint:</b> <code><%- authServer.tokenEndpoint %></code></li>
		   </ul>
      </div>

    </div><!-- /.container -->

    <script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
